/* CSS reset */
* {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;

    font-family: "Roboto", serif;
    font-style: normal;
}

/* Heading */
#heading {
    margin-top: 1rem;

    text-align: center;
}

#heading a {
    font-size: 2rem;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-transform: uppercase;
    color: #0a0a0a;
    cursor: pointer;
}

#heading a:hover {
    opacity: 0.7;
}

/* List */
#list {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#list h3 {
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #0a0a0a;
}

#list ul {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    list-style: none;
}

#list li a {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: #0a0a0a;
    cursor: pointer;
}

#list li a:hover {
    opacity: 0.7;
}

/* Main */
#main {
    margin-top: 3rem;
    display: flex;

    justify-content: center;
    align-items: center;
}
